html {
  background-color: #22223b;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}

#header {
  background-color: #f2e9e4;
}

#profile-picture {
  border-radius: 100%;
}

main {
  margin-top: 2rem;
}

main, footer{
  text-align: center;
}

#home {
  display: flex;
  min-height: 88vh;
}

#home-content-container {
  margin: auto;
}

#profile {
  display: inline-block;
  width: fit-content;
  vertical-align: middle;
}

#description {
  display: inline-block;
  max-width: 800px;
  margin: 0 1rem;
  vertical-align: middle;
}

#description nav, footer nav {
  margin: 1rem 0;
}

h1, h2, h3, h4, footer span {
  color: #f2e9e4;
}

#principais-habilidades, #outras-habilidades {
  margin: 4rem 0;
}

section ul {
  padding: 0;
  line-height: 2rem;
  list-style-type: none;
}

p, li {
  color: #c9ada7;
}

p {
  line-height: 2rem;
}

footer {
  margin: 1rem 0;
}

footer span {
  display: inline-block;
  font-size: 0.8rem;
}

.button {
  background-color: #c9ada7;
  border-radius: 4px;
  color: #22223b;
  display: inline-block;
  font-weight: 600;
  margin: 0.2rem;
  min-width: max-content;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition-duration: 80ms;
}
.button:hover {
  background-color: #f2e9e4;
}

.header-button {
  color: #22223b;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
  transition-duration: 80ms;
}
.header-button:hover {
  color: #9a8C98;
}